// Theming override for airbnb react-date picker.
$react-dates-color-primary: #1F3149 !default;
$react-dates-color-primary-dark: #1F3149 !default;
$react-date-color-primary-dark-1: #008489 !default;
$react-dates-color-primary-shade-1: #33dacd !default;
$react-dates-color-primary-shade-2: #66e2da !default;
$react-dates-color-primary-shade-3: #80e8e0 !default;
$react-dates-color-primary-shade-4: #b2f1ec !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;   // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;     // #cacccd
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: #ffe8bc !default;

@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';

// ------------------------------
// Adjust Month names and day names section

.CalendarMonth__caption {
    font-size: 14px;
}

.CalendarMonth--horizontal .CalendarMonth__caption,
.CalendarMonth--vertical .CalendarMonth__caption {
    padding: 17px 0 38px;
}

.DayPicker__week-header {
    top: 57px;
}

// ------------------------------
// Hide help panel button

.DayPickerKeyboardShortcuts__show {
    display: none;
}

// ------------------------------
// Adjust panel prev/next buttons

.DayPickerNavigation--horizontal .DayPickerNavigation__prev,
.DayPickerNavigation--horizontal .DayPickerNavigation__next {
    padding: 4px 6px;
}

.DayPickerNavigation--horizontal .DayPickerNavigation__prev--default svg,
.DayPickerNavigation--horizontal .DayPickerNavigation__next--default svg {
    height: 14px;
    width: 14px;
}
